/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/BuildLog.htm
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/DllEntry.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.dle
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.dle.embed.manifest
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.dle.embed.manifest.res
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.dle.intermediate.manifest
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.exp
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.ilk
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.lib
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/XAnimationExporter.res
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/mt.dep
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/xanimationexporter.dle.idb
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/Debug/xanimationexporter.dle.pdb
/XGame/XSrc/XGame.ncb
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/XAnimationExporter.vcproj.PYC104815.pc.user
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/BuildLog.htm
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/DlgAnimationExporterMain.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/DlgExportPage3.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/DlgExportPage4.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/DlgExporterPage1.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/DlgExporterPage2.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/MeshExporter.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/MeshExporterUtil.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.dll
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.dll.embed.manifest
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.dll.embed.manifest.res
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.dll.intermediate.manifest
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.exp
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.ilk
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.lib
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.pch
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.pch.ib_tag
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.pdb
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/XAnimationExporterDll.res
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/mt.dep
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/stdafx.obj
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/vc90.idb
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/Debug/vc90.pdb
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/XAnimationExporterDll.vcproj.PYC104815.pc.user
/XGame/XSrc/XClient/XClient.vcproj.PYC104815.pc.user
/XGame/XSrc/XEngine/XModel/XModel.vcproj.PYC104815.pc.user
/XGame/XSrc/XEngine/XPlatform/XPlatform.vcproj.PYC104815.pc.user
/XGame/XSrc/XEngine/XRender/XRender.vcproj.PYC104815.pc.user
/XGame/XSrc/XFile/XFile.vcproj.PYC104815.pc.user
/XGame/XSrc/X3DMAXPlugin/XAnimationExporter/*.user
/XGame/XSrc/X3DMAXPlugin/XAnimationExporterDll/*.user
/XGame/XSrc/XClient/*.user
/XGame/XSrc/XEngine/XModel/*.user
/XGame/XSrc/XEngine/XPlatform/Debug/*.htm
/XGame/XSrc/XEngine/XPlatform/Debug/*.obj
/XGame/XSrc/XEngine/XPlatform/Debug/*.idb
/XGame/XSrc/XEngine/XPlatform/Debug/*.pdb
/XGame/XSrc/XEngine/XPlatform/*.user
/XGame/XSrc/XEngine/XRender/Debug/*.htm
/XGame/XSrc/XEngine/XRender/*.user
/XGame/XSrc/XEngine/XResource/*.user
/XGame/XSrc/XFile/*.user
/XGame/XSrc/XEngine/XRender/Debug/*.idb
/XGame/XSrc/XEngine/XRender/Debug/*.pdb
/XGame/XSrc/Debug/*.lib
/XGame/XSrc/Debug/*.pdb
/XGame/XSrc/XClient/Debug/*.manifest
/XGame/XSrc/XClient/Debug/*.res
/XGame/XSrc/XClient/Debug/*.obj
/XGame/XSrc/XClient/Debug/*.idb
/XGame/XSrc/XClient/Debug/*.pdb
/XGame/XSrc/*.suo
